<div class="hero-container">
  <table>
    <tbody>
      <tr>
        <td><img src="design.png" alt="Hero Image" class="hero-image"></td>
        <td>
          <div class="hero">
            <strong>
              <h1 style="font-weight: 900; font-size: 40px;">Planner means Organize,</h1>
              <h1 style="font-weight: 900;">Prioritize, Achieve!</h1>
            </strong>
            <br>
            <p style="color: white;">Keep everything in the same place—even if your team isn’t.</p>
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <input type="email" class="form-control" id="inputPassword2" placeholder="Email">
                <br><br>
                <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
              </div>
            </form>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
