<app-sidebar></app-sidebar>
<div class="app" style="margin-left: 125px;">
  <main class="project">
    <div class="project-info">
      <h1>Homepage Design</h1>
      <div class="project-participants">
        <span></span>
        <span></span>
        <span></span>
        <button class="project-participants__add" routerLink="createTask" routerLinkActive="active">Add Participant</button>
      </div>
    </div>
    <div class="project-tasks">
      <div class="project-column" *ngFor="let column of columns">
        <div class="project-column-heading">
          <h2 class="project-column-heading__title">{{ column.title }}</h2>
          <button class="project-column-heading__options">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="MapTask.get(column.title) || []"
          [cdkDropListConnectedTo]="connectedDropLists"
          class="project-column-tasks"
          [id]="column.id"
          (cdkDropListDropped)="drop($event)">
          <ng-container *ngIf="(MapTask.get(column.title) || []).length; else emptyColumn">
            <div *ngFor="let task of MapTask.get(column.title) || []" cdkDrag class="task">
              <div class="task__tags">
                <span class="task__tag" [ngClass]="{
                  'task__tag--copyright': column.title === 'Task Ready',
                  'task__tag--design': column.title === 'In Progress',
                  'task__tag--illustration': column.title === 'Done'
                }">
                  {{ task.title }}
                </span>
                <button class="task__options">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
              </div>
              <p style="width: 70% !important;
              max-width: 25em !important;
              white-space: normal !important;
              overflow-wrap: break-word !important;">{{ task.description }}</p>
              <div class="task__stats">
                <p style="color: black; font-size: xx-small;">Created In: {{ task.createdAt | date:'medium' }}</p>
                <button style="border: none !important; background-color: transparent;"><i (click)="delete(task.id)" style="color: rgb(237, 124, 124); border: none; font-size: 2em;" class='bx bxs-trash'></i></button>
                <button style="margin-left: 25px; border: none !important; background-color: transparent;" (click)="navigateToUpdateTask(task.id)"><i  style="color:cadetblue;border: none; font-size: 2em;" class='bx bx-edit'></i></button>
              </div>
            </div>
          </ng-container>
          <ng-template #emptyColumn>
            <div class="task empty-task-placeholder" cdkDrag></div>
          </ng-template>
        </div>
      </div>
    </div>
  </main>
</div>
