
<div class="container" style="margin-top: 100px; margin-left: 150px;">
                    <main class="table" id="customers_table">
                        <section class="table__header">
                            <h1>Customer's Orders</h1>
                            <div class="input-group">
                                <input type="search" placeholder="Search Data...">
                                <img src="images/search.png" alt="">
                            </div>
                            <div class="export__file">
                                <label for="export-file" class="export__file-btn" title="Export File"></label>
                                <input type="checkbox" id="export-file">
                                <div class="export__file-options">
                                    <label>Export As &nbsp; &#10140;</label>
                                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                                </div>
                            </div>
                        </section>
                        <section class="table__body">
                            <table>
                                <thead>
                                    <tr>
                                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                                        <th> Username <span class="icon-arrow">&UpArrow;</span></th>
                                        <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                                        <th> Actions <span class="icon-arrow">&UpArrow;</span></th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{ user.id}}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <button (click)="delete(user.id)" class="btn btn-danger">Delete</button>
                                            <button type="button" style="margin-left: 10px;" class="btn btn-info">View Tasks</button>
                                            <button (click)="navigateToUpdate(user.id)"  type="button" style="margin-left: 10px;" class="btn btn-success">Update</button>
                                        </td>
                                        <!--<td>
                                            <button (click)="updateEmployee(employee.id)" class="btn btn-success" style="color:white"> Update </button>
                                            <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px;"> Delete </button>
                                    </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </main>
                </div>
                <app-sidebar-admin></app-sidebar-admin>